.form-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url("../Assets/ca-5-bg-1.jpg");
    width: 100vw;
    max-width: 1500px;
    height: 100vh;
    background-size: cover;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: bisque;
    height: 400px;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid royalblue;
}
h2{
    margin-bottom: 10px;
}
.error-message{
    color: red;
    margin-top: 10px;
}
.name{
    display: grid;
    grid-template-columns: 3fr 3fr;
}
